.Profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.Profile .friend-section {
  background-color: #081917;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f6ef;
  padding: 20px;
  border-radius: 5px;
  width: 275px;
  box-sizing: border-box;
  max-width: 80%;
}

.Profile .friend-info {
  display: flex;
  border-bottom: 1px solid #f9f6ef;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.Profile .avatar {
  width: 70px;
  height: 70px;
}

.Profile .descriptions {
  margin-left: 10px;
}

.Profile .streak {
  margin-top: 7px;
  font-weight: 700;
}

/* .Profile .streak.good {
  padding-left: 4px;
  background-color: blue;
}

.Profile .streak.bad {
  background-color: #4d787b;
} */

.Profile .progress {
  height: 225px;
  width: 130px;
  border-radius: 5px;
  position: relative;
  background-color: #f9f6ef;
}

.Profile .progress-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f6ef;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #081917;
}

.Profile .progress-p .oz-done {
  font-size: 24px;
  line-height: 24px;
  color: blue;
}

.Profile .water {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
  border-radius: 0 0 5px 5px;
}

.Profile .go-home {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #081917;
  padding: 30px;
}
