.UpdateProfileForm {
  display: flex;
  flex-direction: column;
}

.UpdateProfileForm label {
  margin: 15px 20px 5px 20px;
}

.UpdateProfileForm .error {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: rgb(219, 35, 14);
  font-style: italic;
}

.UpdateProfileForm .images {
  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: scroll;
  display: flex;
  position: relative;
  width: 100%;
}

.UpdateProfileForm .images img {
  border: 5px solid transparent;
  width: 80px;
  height: 80px;
}

.UpdateProfileForm img.selected {
  border: 5px solid blue;
}
