.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #081917;
}

/* .Header.no-acct {
} */

.Header.no-acct h1 a {
  /* background-color: #081917; */
  color: #081917;
  /* mix-blend-mode: screen; */
}

.Header h1 {
  padding: 30px;
  font-size: 24px;
}

.Header h2.gun {
  padding-right: 30px;
  font-size: 48px;
  text-shadow: 0px 0px 20px #0b3066ad;
}

.Header .account-stuff {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Header .pic-streak {
  display: flex;
  align-items: center;
}

.Header .pic-streak p {
  font-size: 18px;
  font-weight: 700;
  color: #081917;
  width: 50px;
  height: 50px;
  border-left: 2px solid #081917;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.Header .pic-streak p.nope {
  background-color: #273837;
}

.Header .avatar {
  width: 50px;
  height: 50px;
  border-left: 2px solid #081917;
  box-sizing: border-box;
}

.Header .avatar > img {
  width: 100%;
  height: 100%;
}

.Header button {
  border-radius: 0;
  margin: 0;
  height: 50px;
  width: 100px;
  padding: 0;
  border-top: 2px solid #081917;
  border-left: 2px solid #081917;
  background-color: unset;
  color: #081917;
}
