.SignInSignUp {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

.SignInSignUp .bg-gif {
  height: 130%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -3;
  opacity: 85%;
}

.SignInSignUp .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignInSignUp button.sign-up {
  background-color: transparent;
  color: #081917;
  margin: 0;
}

.SignInSignUp p {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #081917;
  width: 50%;
  text-align: center;
  font-style: italic;
  color: blue;
}

.SignInSignUp button.google {
  border: 2px solid blue;
  background-color: transparent;
  color: blue;
}
